<nav class="nav">
   <div class="nav-left">
      <a class="nav-item logo" routerLink="/">
         <img src="assets/images/angularfirebase.png" width="30px" alt="Agruno" /> Agruno
      </a>
   </div>
   <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
   <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
   <span class="nav-toggle" (click)="toggleCollapse()" [ngClass]="{'is-active': show}">
      <span></span>
      <span></span>
      <span></span>
   </span>
   <!-- This "nav-menu" is hidden on mobile -->
   <!-- Add the modifier "is-active" to display it on mobile -->
   <div *ngIf="!(auth.user | async); else alreadyLoggedIn">
      <div class="nav-right nav-menu" [ngClass]="{'is-active': show}">
         <a class="nav-item" routerLink="/login">
            Login
         </a>
         <a class="nav-item" routerLink="/register">
            Register
         </a>
         <button mat-raised-button color="accent" class="make-offer">
            Make an offer
         </button>
      </div>
   </div>
   <ng-template #alreadyLoggedIn>
      <div>
         <div class="nav-right nav-menu" [ngClass]="{'is-active': show}">
            <a class="nav-item" routerLink="/message">
               Message
            </a>
            <a class="nav-item" routerLink="/user-product">
               My Products
            </a>
            <a class="nav-item" routerLink="/my-profile">
               My Profile
            </a>
            <a class="nav-item" (click)="logout()">
               Logout
            </a>
            <button mat-raised-button color="accent" class="make-offer">
               Make an offer
            </button>
         </div>
      </div>
   </ng-template>
</nav>
