nav {
        border-bottom: 1px solid #E4E4E4;
        box-shadow: 0 0 4px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 25px;
        padding: 0 5vw;
        padding-right: 60px;
        background-color: #3f51b5;
        .nav-item {
                color: white;
                font-weight: normal;
                transition: color 0.3s ease;
                background-color: #3f51b5;
                &:hover {
                        font-color: #1c90f3;
                }
        }
        .nav-toggle {
                height: 3.2rem;
                background-color: #3f51b5;
                span {
                        background-color: white !important;
                }
        }
        .make-offer {
                margin-top: 5px;
                margin-bottom: 2px;
        }
}
