<h1>AgroStar Postings</h1>
<p>You can create a new posting here</p>

<!--<input [(ngModel)]="content" placeholder="Describe your offer" class="input">-->
<textarea [(ngModel)]="content" placeholder="Describe your offer" style="overflow:hidden" cols="60" rows="10"></textarea>

<button class="button is-success" (click)="createNote()" [disabled]="content?.length < 2 || content?.length > 200">
  Add Posting
</button>
<hr>
<div *ngFor="let note of notes | async">
  <note-detail [note]="note"></note-detail>
</div>


