<button mat-raised-button color="accent" class="make-offer" (click)="addNewProduct()" style="float: right;">
   Add new product
</button>
<br>
<br>
<mat-tab-group [(selectedIndex)]="tabIndex" (selectedIndexChange)="onTabChange($event)">
   <mat-tab label="Draft">
      <div *ngIf="allDraftProduct?.length > 0; else noDraftProd">
         <div *ngFor="let draft of allDraftProduct;let i = index" class="row prod-list">
            <div class="col-3" (click)="openProductDetailPage(draft.pid)">
               <img *ngIf="draft.images.length>0;else defaultDraftImg" [src]="draft.images[0].url" class="sm-img-box" onError="this.src='assets/images/no_image_available.jpeg';">
               <ng-template #defaultDraftImg>
                  <img mat-card-image src='assets/images/no_image_available.jpeg'>
               </ng-template>
            </div>
            <div class="col-7" (click)="openProductDetailPage(draft.pid)">
               <strong>{{draft.title}}</strong>
               <br> {{draft.text}}
               <br>
               <strong>Price: {{draft.price | currency:'EUR':'symbol-narrow'}}</strong>
               <br>
               <strong>Categories: </strong>
               <div *ngFor="let catgory of draft.categories;let i= index">
                  {{catgory.cat_text}}
                  <span *ngIf="(i<(draft.categories?.length-1))">,
                  </span>
               </div>
            </div>
            <div class="col-2" style="padding-right: 20px;padding-top: 5px;">
               <button mat-raised-button color="accent" class="make-offer" (click)="editProduct(draft.pid)" style="float: right;">
                  Edit
               </button>
            </div>
         </div>
      </div>
      <ng-template #noDraftProd style="font-size: 0.8rem;">
         <br>
         <div class="no-items"> No Draft Products.</div>
         <loading-spinner></loading-spinner>
      </ng-template>
   </mat-tab>
   <mat-tab label="Offered">
      <div *ngIf="allPublishProduct?.length > 0; else noPublishProd">
         <div *ngFor="let publish of allPublishProduct" class="row prod-list">
            <div class="col-3" (click)="openProductDetailPage(publish.pid)">
               <img *ngIf="publish.images.length>0;else defaultPublishImg" [src]="publish.images[0].url" class="sm-img-box" (error)="this.src='assets/profile/profile-images.jpg'">
               <ng-template #defaultPublishImg>
                  <img mat-card-image src='assets/images/no_image_available.jpeg'>
               </ng-template>
            </div>
            <div class="col-7" (click)="openProductDetailPage(publish.pid)">
               <strong>{{publish.title}}</strong>
               <br> {{publish.text}}
               <br>
               <strong>Price: {{publish.price | currency:'EUR':'symbol-narrow'}}</strong>
               <br>
               <strong>Categories: </strong>
               <div *ngFor="let catgory of publish.categories;let i= index">
                  {{catgory.cat_text}}
                  <span *ngIf="(i<(publish.categories?.length-1))">,</span>
               </div>
            </div>
            <div class="col-2" style="padding-right: 20px;padding-top: 5px;">
               <button mat-raised-button color="accent" class="make-offer" (click)="editProduct(publish.pid)" style="float: right;">
                  Edit
               </button>
            </div>
         </div>
      </div>
      <ng-template #noPublishProd style="font-size: 0.8rem;">
         <br>
         <div class="no-items"> No Publish Products.</div>
         <loading-spinner></loading-spinner>
      </ng-template>
   </mat-tab>
   <mat-tab label="Sold">
      <div *ngIf="allSoldProduct?.length > 0; else noSoldProd">
         <div *ngFor="let sold of allSoldProduct" class="row prod-list" (click)="openProductDetailPage(sold.pid)">
            <div class="col-3">
               <img *ngIf="sold.images.length>0;else defaultSoldImg" [src]="sold.images[0].url" class="sm-img-box" (error)="this.src='assets/profile/profile-images.jpg'">
               <ng-template #defaultSoldImg>
                  <img mat-card-image src='assets/images/no_image_available.jpeg'>
               </ng-template>
            </div>
            <div class="col-9" style="padding-right: 20px;padding-top: 5px;padding-left:0px;">
               <strong>{{sold.title}}</strong>
               <br> {{sold.text}}
               <br>
               <strong>Price: {{sold.price | currency:'EUR':'symbol-narrow'}}</strong>
               <br>
               <strong>Categories: </strong>
               <div *ngFor="let catgory of sold.categories;let i= index">
                  {{catgory.cat_text}}
                  <span *ngIf="(i<(sold.categories?.length-1))">,</span>
               </div>
            </div>
         </div>
      </div>
      <ng-template #noSoldProd>
         <br>
         <div class="no-items"> No Sold Products.</div>
         <loading-spinner></loading-spinner>
      </ng-template>
   </mat-tab>
   <!-- <mat-tab label="Wishlist">
      <div *ngIf="allWishProduct?.length > 0; else noWishProd">
         <div *ngFor="let wish of allWishProduct" class="row prod-list" (click)="openProductDetailPage(wish.pid)">
            <div class="col-3">
               <img *ngIf="wish.images.length>0;else defaultWishImg" [src]="wish.images[0].url" class="sm-img-box" (error)="this.src='assets/profile/profile-images.jpg'">
               <ng-template #defaultWishImg>
                  <img mat-card-image src='assets/images/no_image_available.jpeg'>
               </ng-template>
            </div>
            <div class="col-9" style="padding-right: 20px;padding-top: 5px;padding-left:0px;">
               <strong>{{wish.title}}</strong>
               <br> {{wish.text}}
               <br>
               <strong>Price: {{wish.price | currency:'EUR':'symbol-narrow'}}</strong>
               <br>
               <strong>Categories: </strong>
               <div *ngFor="let catgory of wish.categories;let i= index">
                  {{catgory.cat_text}}
                  <span *ngIf="(i<(wish.categories?.length-1))">,</span>
               </div>
            </div>
         </div>
      </div>
      <ng-template #noWishProd>
         <br>
         <div class="no-items"> No Wishlist Products.</div>
         <loading-spinner></loading-spinner>
      </ng-template>
   </mat-tab> -->
</mat-tab-group>
