.lg-img-box {
        width: 100%;
        border: 1px solid #ccc;
        padding: 6px;
        background-color: #fff;
}

.sm-img-box1 {
        border: 1px solid #ccc;
        padding: 3px;
        background-color: #fff;
        height: 50px;
        margin-right: 3px;
        float: left;
        cursor:pointer;
        img {
                height: auto;
        }
}
.sm-img-box1:hover{
   border: 1px solid #666;
}

.slideshow-container {
        .caption {
                font-size: 9px !important;
        }
}

.sm-img-avatar {
        width: 50px;
        border: 1px solid #ccc;
        padding: 3px;
        background-color: #fff;
        height: 50px;
        margin-right: 3px;
        float: left;
        border-radius: 50%;
        img {
                height: 44px;
                width: 44px;
        }
}
