.main-row {
        border-left: 2px solid #999;
        border-top: 2px solid #999;
        border-right: 2px solid #999;
}


.img-avatar {
        width: 50px;
        border-bottom: 1px solid #999;
        border-right: 1px solid #999;
        border-left: 1px solid #999;
        border-top: 1px solid #999;
        padding: 3px;
        background-color: #fff;
        height: 50px;
        margin-right: 3px;
        float: left;
        img {
                height: 44px;
                width: 44px;
        }
}

.delete-chat {
        float: right;
}


.side-list {
        padding-right: 0;
        padding-left: 0;
        border-bottom: 1px solid #999;
}
