<mat-tab-group [(selectedIndex)]="tabIndex" (selectedIndexChange)="onTabChange($event)">
   <mat-tab label="Login">
      <div *ngIf="!(auth.user | async); else alreadyLoggedIn">
         <h3>Login with Email</h3>
         <form [formGroup]="userForm" (ngSubmit)="login()">
            <mat-form-field class="input-full-width">
               <label for="email">Email</label>
               <input matInput type="email" id="email" formControlName="email" required>
            </mat-form-field>
            <div *ngIf="formErrors.email" class="help is-danger">
               {{ formErrors.email }}
            </div>
            <mat-form-field class="input-full-width">
               <label for="password">Password</label>
               <input matInput type="password" id="password" formControlName="password" required>
            </mat-form-field>
            <div *ngIf="formErrors.password" class="help is-danger">
               {{ formErrors.password }}
            </div>
            <br>
            <a class="help is-info" (click)="resetPassword()" style="float: right;text-align: right;">Forget Password?</a>
            <br>
            <br>
            <div *ngIf="userForm.valid" class="notification is-success">Form Looks valid</div>
            <div *ngIf="passReset" class="notification is-info">Reset requested. Check your email instructions.</div>
            <button mat-raised-button color="accent" type="submit" [disabled]="!userForm.valid" class="btn btn-block btn-lg">Submit</button>
         </form>
         <hr>
         <div class="social-btn-row">
            <button (click)="signInWithGoogle()" class="btn btn-social btn-google btn-block">
               <i class="fa fa-google fa-lg"></i> Login with Google
            </button>
            <button (click)="signInWithFacebook()" class="btn btn-block btn-social btn-facebook">
               <i class="fa fa-facebook fa-lg"></i> Login with Facebook
            </button>
         </div>
      </div>
      <ng-template #alreadyLoggedIn>
         <p class="text-success">
            Already logged in!
         </p>
      </ng-template>
   </mat-tab>
   <mat-tab label="Register">
      <h3>Register with Email</h3>
      <form [formGroup]="userRegistrationForm" (ngSubmit)="signup()">
         <mat-form-field class="input-full-width">
            <label for="email">Email</label>
            <input matInput type="email" id="email" formControlName="email" required>
         </mat-form-field>
         <div *ngIf="formRegErrors.email" class="help is-danger">
            {{ formRegErrors.email }}
         </div>
         <mat-form-field class="input-full-width">
            <label for="password">Password</label>
            <input matInput type="password" id="password" formControlName="password" required>
         </mat-form-field>
         <div *ngIf="formRegErrors.password" class="help is-danger">
            {{ formRegErrors.password }}
         </div>
         <mat-checkbox formControlName="terms" required style="text-align: center">I accept the terms of this page</mat-checkbox>
         <div *ngIf="formRegErrors.terms" class="help is-danger">
            {{ formRegErrors.terms }}
         </div>
         <br>
         <br>
         <div *ngIf="userRegistrationForm.valid" class="notification is-success">Form is valid</div>
         <button mat-raised-button color="accent" type="submit" class="btn btn-block btn-lg" [disabled]="!userRegistrationForm.valid">Submit</button>
      </form>
      <hr>
      <div class="social-btn-row">
         <button (click)="signInWithGoogle()" class="btn btn-block btn-social btn-google ">
            <i class="fa fa-google fa-lg"></i> Register with Google
         </button>
         <button (click)="signInWithFacebook()" class="btn btn-block btn-social btn-facebook">
            <i class="fa fa-facebook fa-lg"></i> Register with Facebook
         </button>
      </div>
   </mat-tab>
</mat-tab-group>
