<h3>Reset Password</h3>
<form [formGroup]="resetPassForm" (ngSubmit)="resetPassword()">
   <!-- <label for="email">Email</label>
   <input type="email" id="email" class="input" formControlName="email" required> -->
   <mat-form-field class="input-full-width">
      <label for="email">Email</label>
      <input matInput type="email" id="email" formControlName="email" required (focus)="notify.clear()">
   </mat-form-field>
   <div *ngIf="formErrors.email" class="help is-danger">
      {{ formErrors.email }}
   </div>
   <div *ngIf="resetPassForm.valid" class="help is-success">Email Looks valid</div>
   <div class="help is-info" style="float: right;text-align: right;padding-bottom: 20px;">Remembered password, Please
      <a (click)="login()">login here</a>.
   </div>
   <br>
   <br>
   <button mat-raised-button color="accent" type="submit" [disabled]="!resetPassForm.valid" class="btn btn-block btn-lg">Reset Password</button>
</form>
