<h3>Reset Password</h3>
<form [formGroup]="resetPassForm" (ngSubmit)="resetPassword()">
   <label for="email">Email</label>
   <input type="email" id="email" class="input" formControlName="email" required>
   <div *ngIf="formErrors.email" class="notification is-danger">
      {{ formErrors.email }}
   </div>
   <div *ngIf="resetPassForm.valid" class="notification is-success">Email Looks valid</div>
   <button mat-raised-button color="accent" type="submit" [disabled]="!resetPassForm.valid" class="btn btn-block btn-lg">Reset Password</button>
</form>
