h5 {
        color: #666
}

label {
        color: #999;
}

.input-full-width {
        width: 100%;
        padding-bottom: 0 !important;
}

.mat-form-field-wrapper {
        padding-bottom: 0 !important;
}


.custom-file-upload {
        border: 1px solid #ccc;
        display: block;
        padding: 6px 12px;
        cursor: pointer;
        width: 206px;
        text-align: center;
}

.img-box {
        width: 206px;
        border: 1px solid #ccc;
        padding: 6px;
        background-color: #fff;
}

.btn-file {
        position: relative;
        overflow: hidden;
}

.btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: pointer;
        display: block;
}
