<!-- <div class="box">
   <div *ngIf="auth.user | async; then authenticated else guest">  -->
<!-- template will replace this div -->
<!-- </div>
</div> -->
<!-- User logged in -->
<!-- <ng-template #authenticated>
   <div *ngIf="auth.user | async as user">
      <h3>Howdy, {{ user.displayName }}</h3>
      <img class="card-img-top" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>
      <br>
      <p class="text-truncate">UID: {{ user.uid }}</p>
      <button class="button" (click)="logout()">Logout</button>
   </div>
</ng-template> -->
<!-- User NOT logged in -->
<!-- <ng-template #guest class="box">
   <h3>Howdy, GUEST</h3>
   <p class="card-text">Login to get started...</p>
   <button class="button" routerLink="/login">Login</button>
</ng-template> -->
<div id="wrapper">
   <form [formGroup]="userProfileForm" (ngSubmit)="updateProfile()">
      <div class="content columns">
         <main class="column is-12">
            <h3>Personal Infornmation</h3>
         </main>
      </div>
      <div class="content columns">
         <main class="column is-6">
            photo
         </main>
         <main class="column is-6">
            <mat-radio-group formControlName="gender">
               <mat-radio-button>Male</mat-radio-button>
               <mat-radio-button>Female</mat-radio-button>
            </mat-radio-group>
         </main>
      </div>
      <div class="content columns">
         <main class="column is-6">
            <h3>Address</h3>
         </main>
         <main class="column is-6">
            <h3>Contact Details</h3>
         </main>
      </div>
      <div class="content columns">
         <main class="column is-6">
            <!-- photo -->
         </main>
         <main class="column is-6">
            <mat-form-field class="input-full-width">
               <label for="email">Email</label>
               <input matInput type="email" id="email" formControlName="email" required>
            </mat-form-field>
            <div *ngIf="formErrors.email" class="help is-danger">
               {{ formErrors.email }}
            </div>
         </main>
      </div>
      <div class="content columns">
         <main class="column is-12">
            <br>
            <div *ngIf="userProfileForm.valid" class="notification is-success">Form Looks valid</div>
            <br>
            <button mat-raised-button color="accent" type="submit" [disabled]="!userProfileForm.valid" class="btn btn-block btn-lg">Submit</button>
         </main>
      </div>
   </form>
</div>
