<div class="container">
   <div class="row main-row" *ngIf="allChatList?.length>0;else noChatHistory">
      <div class="col-3 col-md-3 col-sm-12 side-list">
         <div *ngIf="allChatList">
            <div *ngFor="let chatDetail of allChatList;let i = index" class="chat-detail">
               <img [src]="chatDetail.productImg" class="img-avatar" (click)="openChat(i)">
               <div style="height: 55px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" (click)="openChat(i)">
                  <span style="color:darkblue;"> {{chatDetail.userName}} </span>
                  <br> {{chatDetail.productTitle}}
                  <button mat-icon-button (click)="deleteChat(i)" class="delete-chat">
                     <mat-icon>delete_forever</mat-icon>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="col-7 col-md-7 col-sm-12 main-content">
         <!-- Header row -->
         <div class="header">
            <div class="row header-row">
               <div class="col-5 header-username" *ngIf="userTwoData">{{userTwoData.firstName}} {{userTwoData.lastName}}</div>
               <div class="col-7" style="text-align: right" *ngIf="productData">
                  <div class="row" style="padding-right: 0">
                     <div class="col-8" style="padding-right: 0; font-size: 14px;line-height: 24px;">
                        {{productData.title}}
                        <br>{{productData.price | currency:'EUR':'symbol-narrow'}}
                     </div>
                     <div class="col-4" style="padding-right: 0">
                        <img [src]="productData.images[0].url" style="float:right;height: 50px;">
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="chat-content" #scrollMe>
            <div *ngFor="let chat of chatMessage;let i = index">
               <div style="text-align: center;" class="chat-date" *ngIf="i === 0 || 
                  (chat.sendDate | date: 'dd MMMM yyyy') !== 
                  (chatMessage[i-1].sendDate | date: 'dd MMMM yyyy')">{{chat.sendDate | date: 'dd MMMM yyyy'}}</div>
               <div [ngClass]="{ 'chat-other': (currentUser!==chat.user), 'chat-mine':  (currentUser===chat.user) }">
                  {{chat.message}}
               </div>
            </div>
         </div>
         <div class="footer">
            <div style=" padding-top: 3px; ">
               <textarea rows="4" #msg type="text" placeholder="Nachricht schreiben..." id="scrollHere"></textarea>
               <button style="margin-bottom: 30px; margin-left: 5px;" class="btn btn-sm btn-success" (click)="postMessage(msg.value); msg.value=''">
                  SENDEN
               </button>
            </div>
         </div>
      </div>
      <div class="col-2 col-md-2 col-sm-12" style="border-bottom: 1px solid #999">
         <!-- Update or accept offer -->
         Offers
      </div>
   </div>
   <ng-template #noChatHistory>
      <loading-spinner></loading-spinner>
   </ng-template>
</div>
