.chat-detail {
        font-size: 12px;
        float: left;
        margin: 5px 0 0 0;
        width: 100%;
}

.img-avatar {
        width: 50px;
        border: 1px solid #ccc;
        padding: 3px;
        background-color: #fff;
        height: 50px;
        margin-right: 3px;
        float: left;
        img {
                height: 44px;
                width: 44px;
        }
}

textarea {
        border: 0;
        width: 70%;
        height: 100%;
}

.chat-mine {
        max-width: 75%;
        color: #fff;
        border-radius: 5px 5px 0 5px;
        background-color: cornflowerblue;
        float: right;
        margin-top: 2px;
        margin-bottom: 10px;
        margin-right: 10px;
        padding: 10px;
        font-size: 14px;
        clear: both;
        word-wrap: break-word;

}

.chat-other {
        max-width: 75%;
        color: #555;
        border-radius: 5px 5px 5px 0;
        background-color: #fff;
        float: left;
        margin-top: 2px;
        margin-bottom: 10px;
        margin-left: 10px;
        padding: 10px;
        font-size: 14px;
        clear: both;
        word-wrap: break-word;
}

.chat-date {
        color: #555;
        margin: 5px;
        font-size: 12px;
        clear: both;
        text-align: center;
        background-color: #d7d7d7;
        width: 150px;
        margin: 5px auto;
        border-radius: 10px;
}

.delete-chat {
        float: right;
}

.main-content {
        border-left: 1px solid #999;
        border-bottom: 1px solid #999;
        border-right: 1px solid #999;
        background-color: #efefef;
        padding: 0;
}

.header {
        margin: 0 15px;
        .header-row {
                padding-left: 0;
                padding-right: 0;
                border-bottom: 1px solid #999;
                background-color: #fff
        }
}

.chat-content {
        height: calc(100% - 155px);
        overflow-y: auto;
        min-height: 255px
}

.footer {
        position: absolute;
        bottom: 0;
        height: 45px;
        width: 100%;
        padding-top: 4px;
        background-color: #fff;
        margin: 0 auto;
        border-top: 1px solid #999;
}
