h5 {
        color: #666
}

label {
        color: #999;
}

.input-full-width {
        width: 100%;
        padding-bottom: 0 !important;
}

.custom-file-upload {
        border: 1px solid #ccc;
        display: block;
        padding: 6px 12px;
        cursor: pointer;
        width: 206px;
        text-align: center;
        float: right;
}

.img-box {
        width: 100%;
        border: 1px solid #ccc;
        padding: 6px;
        background-color: #fff;
}

.btn-file {
        position: relative;
        overflow: hidden;
}

.btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: pointer;
        display: block;
}

.no-img {
        text-align: center;
        vertical-align: middle;
        line-height: 200px;
}

progress {
        height: 5px;
}

.progress-status {
        font-size: 10px;
}
.multiselect-dropdown{
   .dropdown-btn
   {
      border:0 !important;
      border-bottom: 1px solid #adadad !important;
      border-radius: none !important; 
   }

}

.img-drag-drop {
        position: absolute;
        top: 40%;
        left: 30%;
        margin-top: -100px;
        margin-left: -250px;
        width: 100%;
        height: 200px;
        p {
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 170px;
                color: #ffffff;
                font-family: Arial;
        }
        input {
                position: absolute;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                outline: none;
                opacity: 0;
               //  z-index:100;
        }
        button {
                margin: 0;
                color: #fff;
                background: #16a085;
                border: none;
                width: 508px;
                height: 35px;
                margin-top: -20px;
                margin-left: -4px;
                border-radius: 4px;
                border-bottom: 4px solid #117A60;
                transition: all .2s ease;
                outline: none;
        }
        button:hover {
                background: #149174;
                color: #0C5645;
        }
        button:active {
                border: 0;
        }
}
