<div class="row prod-card">
   <div class="col-4" *ngFor="let product of allProduct" style="padding:0">
   <mat-card class="prod-card-item">
      <mat-card-header>
         <div mat-card-avatar class="sm-img-avatar"><img [src]="product.photoURL" onError="this.src='assets/images/no_image_available.jpeg';" [alt]="product.firstName"/></div>
         <mat-card-title>{{product.firstName}} {{product.lastName}}</mat-card-title>
         <mat-card-subtitle>{{product.title}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="product.images[0].url" onError="this.src='assets/images/no_image_available.jpeg';" [alt]="product.title">
      <mat-card-content>
         <div class="row">
            <div class="col-sm-3">
               Price:
               <br> {{product.price | currency:'EUR':true}}
            </div>
            <div class="col-sm-4">
               Distance:
               <br> 1.5 km
            </div>
            <div class="col-sm-4">
               Category: <span *ngFor="let catgory of product.categories;let i= index">
                     {{catgory.cat_text}}
                     <span *ngIf="(i<(product.categories?.length-1))">,</span>
                  </span>
            </div>
         </div>
      </mat-card-content>
   </mat-card>
</div>
</div>
